@keyframes myfirst
{
from {background:red;}
to {background:yellow;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {background:red;}
to {background:yellow;}
}

body { font-family: Arial; font-size: 5em;}

div.projectoverview{
	width: 100%;
}

div.projectoverview div div.failedbuilds{
	background:#FF0000;
}

div.projectoverview div div.allsuccess{
	background:#00FF00;
}

div.projectoverview div div{
	float: left;
	margin-right: .5em;
	margin-bottom: 0.05em;
	/*margin-right: .5em;*/
}

div.projectoverview div.project{
    position: relative;
    display: block;
    min-width:400px;
    height:100%;
	clear: both;
}

div.projectoverview div.project_building{
    position: relative;
    display: block;
    min-width:400px;
	clear: both;
	background:black;
	height:auto;
	animation:myfirst 5s;
	-webkit-animation:myfirst 5s; /* Safari and Chrome */
}

div.projectoverview{
	position: absolute; width: -200px; height: 240px;
	clear: both;
}

div.infobox{
	background-color:#A0A0A0;
	position: fixed; bottom: 24px; left: 350px;
	clear: both;
}
div.infobox div{
	/*margin-right: 1em;*/
	margin-left: 1em;
	margin-top: 0.07em;
	margin-bottom: 0.07em;
	float: left;
}

div.success {
	background:#00FF00;
}
div.failed {
	background:#FF0000;
}
div.total {
	background:#C0C0C0
}
div.successcounttotal {
	background:#808080
}
div.failcounttotal {
	background:#D00000
}
div.buildcounttotal {
	background:#FFFF00
}
div.disabledcounttotal {
	background:#0000FF
}