@keyframes myfirst
{
0% {opacity:1;}
50%{opacity:.5;}
100%{opacity:1;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0% {opacity:1;}
50%{opacity:.5;}
100%{opacity:1;}
}


div.projectoverview, div.infobox {
    font-family: Arial; font-size: 3.87em;
}

div.projectoverview > div div{
	border-radius: 10px;
}

div.failedbuilds{
	background:#ED0000;
}

div.allsuccess{
	background:#00DF00;
}

div.projectoverview > div div{
	/*float: left;*/
	display:inline-block;
	

	margin-right: .5em;
}

div.projectoverview  > div{
	margin-bottom: .1em;
	position: relative;
    display: block;
    min-width:400px;
	clear: both;
	height:auto;
	white-space: nowrap;
}

div.project_building > div:first-child{
    padding: 5px;
	animation:myfirst 5s ease-in-out infinite;
	-webkit-animation:myfirst 5s ease-in-out infinite; /* Safari and Chrome */
}

div.projectoverview{
	/*position: absolute; width: -200px; height: 240px;*/
	clear: both;
}

div.infobox{
	background-color:#A0A0A0;
	position: fixed; bottom: 0px; left: 0px;
	clear: both;
	width: 100%;
}

div.infobox > div{
	margin-right: 3em;
	margin-left: 3em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding: .3em;
	float: left;
	border-radius: 10px;
}

div.success {
	background:#00ED00;
}
div.failed {
	background:#FE0000;
}
div.total {
	background:#B0B0B0;
}
div.successcounttotal {
	background:rgba(0,200,0,.8);
}
div.failcounttotal {
	background:rgba(230,0,0,.8);
}
div.buildcounttotal {
	background:rgba(235,235,0,.8);
}
div.disabledcounttotal {
	background:rgba(0,0,235,.8);
}
